<!DOCTYPE html>
<html>
<body>

<h2>HTML Forms</h2>

<form action="#" method="post">
  <label for="fname"> name:</label><br>
  <input type="text" id="name" name="name" value="John"><br>
  <label for="lname">mail:</label><br>
  <input type="text" id="emailname" name="email" value="Doe"><br><br>
  <label for="lname">mobile:</label><br>
  <input type="text" id="emailname" name="mobile" value="Doe"><br><br>
  <label for="lname">message:</label><br>
  <input type="text" id="emailname" name="message" value="Doe"><br><br>
  <input type="submit" value="Submit">
</form> 

<p>If you click the "Submit" button, the form-data will be sent to a page called "/action_page.php".</p>

</body>
</html>