
<!-- Menu-->
<div class="menu">
  <div class="container flex">
    <!-- Mobile Button-->
    <div class="mobile-btn">
      <ion-icon name="grid"></ion-icon>
    </div>
    <div class="logo"><a href="/"><img src="./images/logo.jpg" alt=""></a></div>
    <ul class="nav">
      <li class="nav-item"><a href="/Gallery">Gallery</a></li>
      <li class="nav-item"><a href="/Shop">Shop</a></li>
      <li class="nav-item"><a href="/Trainer">Trainers</a></li>
    </ul><a class="btn" href="/Contact">Contact</a>
    
  </div>
</div>
<!-- End Menu-->
